.top-form {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-left: 200px;
    padding-right: 200px;
}

.cart {
    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        grid-column: span 4;
        padding-left: 27px;
        padding-right: 32px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__button {
        background-color: #eb5656;
        display: block;
        width: 200px;
        height: 37px;
          
        border: 1px solid #000000;
        border-radius: 10px;
        transition: all 0.4s;
        border-style: inset;
        border-color: rgba(160, 160, 160, 0.642);
        &_form {
            align-self: center;
            width: 290px;
            height: 41px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            animation: bounce-top 0.9s 1s 1 both;   
        }
        &:hover {
            background: #eb5656;
            color: #030303;
        }
    }
    .form {  
      &__box {
          padding-top: 35px;
      }
      &__box {
          display: flex;
          flex-direction: column;
          gap: 41px;     
      }
      &__total {
              font-weight: 400;
              font-size: 24px;
              line-height: 29px;
              color: #000000;
              text-align: center;
              margin-top: 23px; 
              height: 29px;
              margin-bottom: -23px;        
      }
      &__item
        {
          border: none;
          border-bottom: 1px solid #CACDD8;
          background: transparent;
          outline: none;
          padding-bottom: 3px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          &::placeholder {
              color: #000000;
              font-family: 'Montserrat', sans-serif; 
            }
        }
      &__heading {
          text-align: center;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          color: #000000;
          margin-top: 42px;
        }
    }  
}
.select-form {
    border: none;
    height: 50px;
    background: #F7F6F6;
    border-bottom: 1px solid #CACDD8;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    color: #000000;
    font-family: 'Montserrat', sans-serif; 
    
}










