* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(img/body-color.jpeg);
  }
  
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  
  
  .top {
    width: 100%;
    height: 400px;
    background-image: url(img/top-img.jpeg  );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .top .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .top .header__contacts {
    background-color: rgb(170, 62, 83);
    text-align: center;
    height: 20px;
    width: 100%;
    color: white;
  }
  
  .top .header__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .top .header__logo {
    height: 200px;
    width: 200px;
  }
  
  .top .header__img {
    height: 200px;
    width: 200px;
  }
  
  .top .header__menu {
    width: 850px;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  
  .top .header__img {
    width: 120px;
    height: 150px;
  }
  
  .top .header .menu__link {
    text-align: center;
    text-decoration: none;
    color: rgb(4, 0, 0);
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
  }
  
  .top .header .header__button-box {
    display: flex;
    gap: 20px;
    width: 420px;
    height: 40px;
    padding-left: 40px;
  }
  
  .top .header__button {
    background-color: rgb(170, 62, 83);
    width: 200px;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  
  .top .title {
    color: rgb(202, 13, 51);
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 28px;
    line-height: 22px;
  }
  .title-name {
    
  }
  
  .top-content {
    padding-bottom: 128px;
    padding-top: 50px;
    width: 100%;
  }
  
  .top-content__title {
    margin-bottom: 20px;
  }
  
  .top-content__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .top-content .content {
    height: 155px;
    grid-column: span 6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: ridge;
  }
  
  .top-content .content__logo {
    width: 150px;
    height: 155px;
    display: contents;
  }
  
  .top-content .content .content-img {
    width: 120px;
    height: 125px;
  }
  
  .top-content .content__item {
    width: 100%;
    text-align: center;
    height: 155px;
    display: grid;
  }
  
  .top-content .content .content-link {
    text-decoration: none;
  }
  
  .top-informations .info {
    margin-bottom: 130px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .top-informations .info__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .top-informations .info__content {
    display: flex;
    justify-content: space-between;
  }
  
  .top-informations .info__content .info-logo-text {
    display: flex;
  }
  
  .top-informations .info__content .info-logo {
    height: 30px;
    width: 30px;
  }
  
  .top-informations .info__content .info-body {
    width: 415px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .top-informations .info__content .info-logo-img {
    height: 30px;
    width: 30px;
  }
  
  .top-informations .info__content .img-info {
    width: 508px;
    height: 250px;
  }
  
  .top-informations .license__img {
    width: 319px;
    height: 400px;
    padding-left: 40px;
    margin-bottom: 130px;
  }
  
  .top-informations .popular {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .top-informations .popular__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .top-informations .popular .product-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .top-informations .popular .product-text-info {
    display: grid;
  }
  
  .top-informations .popular .product-price {
    display: flex;
    gap: 40px;
    width: 400px;
  }
  
  .top-informations .popular .product-box {
    display: flex;
    justify-content: space-between;
    height: 300px;
  }
  
  .top-informations .popular .product-form-price {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .top-informations .popular .popular-item {
    grid-column: span 3;
    text-align: center;
  }
  
  .top-informations .popular .popular-item-price {
    grid-column: span 3;
    text-align: center;
  }
  
  .top-informations .popular .popular-button-box {
    grid-column: span 2;
  }
  
  .top-informations .popular .popular-button {
    width: 100%;
    background-color: rgb(114, 179, 219);
    border-radius: 4px;
  }
  
  .footer {
    padding-top: 30px;
    width: 100%;
    height: 250px;
    background-color: rgb(118, 117, 117);
  }
  
  .footer__title {
    color: white;
    margin-bottom: 14px;
  }
  
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .footer__menu {
    display: flex;
    flex-direction: column;
    height: 94px;
  }
  
  .footer__menu .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer__contact {
    display: flex;
    flex-direction: column;
    height: 94px;
    gap: 14px;
  }
  
  .footer .footer-text {
    color: white;
  }
  .logo-social {
    display: flex;
    justify-content: space-between;
   
   .img-social {
    width: 50px;
    height: 50px;
   }

  }
    

  
  